{% extends "network/layout.html" %}
{% load static %}

{% block head %}
<link href="{% static 'network/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}


<div class="centerbody">

    <div id="compose-view">
        <h3>Post Your Thoughts!</h3>
        <form id="compose-form">
            
            <input disabled class="form-control" value="{{ request.user }}">
            <textarea class="form-control" id="compose-body" placeholder="Write Your Tweet"></textarea>
            <input id="inputbutton" type="submit" id="sendit" onclick="send_tweet()" class="btn btn-primary"/>
        </form>
        <h3 style="margin-top: 20px; text-align:center;">Thoughts of people you follow!</h3>
    </div>


    <div class="profileposts">
     {% for post in tweets %}
        <div id="twtprof" class="container tweet"> 

            <div id="innertop">
                 <h2><a href=/home/{{post.user}}></h2>{{post.user}}</a></h2>
            </div>
            <div id="innerbottom">
                <h3>{{post.body}}</h3>
                <p>{{post.timestamp}}</p>
            </div>
            {% if not post.id  in liked  %}
            <div id="likesection">
                <button class="text-primary"  id="like-btn-{{post.id}}" onclick="like_tweet('{{ post.id }}')">Like</button>   
            </div>
            {% else %}
            <div id="likesection">
                <button class="text-primary"  id="like-btn-{{post.id}}" onclick="like_tweet('{{ post.id }}')">Unlike</button>   
            </div>
            {% endif %}

            <br>
            <div id="like-count-{{post.id}}">{{ post.likes }}</div>
          
        </div>
     {% endfor %}
    </div>
 
{% if tweets.has_previous %}
<a href="{% url 'following' %}?page={{tweets.previous_page_number}}">Previous Page</a>
{% endif %}
{% if tweets.has_next %}
<a href="{% url 'following' %}?page={{tweets.next_page_number}}">Next Page</a>
{% endif %}
</div>



{% endblock %}

{% block script %}

{% endblock %}