.navbar { 
    background-color: lightblue; 
    
} 

.centerbody {

    background-color: white;
    margin-bottom: 40px;


}

#alltweets {

  height: 200px;

}

#compose-view {

      margin-bottom: 50px;

}

#commentsection {

    height: 40px;
}

#likesection{
      
    height: 10px;

}

#twtinnertop {
    
    height: 20px;

}

#twtinnerbottom {

    height: 20px;
}

.profile {

    margin-top: 20px;


}

#twtprof {
    
    min-height: 200px;
    border-style: solid;
    border-color: chocolate;
    border-width: 2px;
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: 2px 2px 2px black;

}

#time {

    display: inline-block;
    margin: 10px;
    color: blue;

}


ul {
    list-style-type: none;
    margin-left: -10px;
}

#chattertitle{
    font-size: 30px;
    font-family: Chalkduster, fantasy;
    margin-top: 15px;
    transform: rotate(-20deg);
}

#inputbutton{
   margin-top: 20px;
   background-color: chocolate;

}

.tweet{

}

#leftads{
    background-image: url("https://images.pexels.com/photos/6114603/pexels-photo-6114603.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: repeat-y;
}

#rightads{
    background-image: url("https://images.pexels.com/photos/6114603/pexels-photo-6114603.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: repeat-y;
}
